Analyze data for Major League Baseball gaves from Retrosheet.

Read the data dictionary provided by Retrosheet.

In [110]:
!cat game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


Import libraries

In [111]:
import pandas as pd
import numpy as np
import csv
import sqlite3

setting options to prevent output from being truncated

In [112]:
pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

In [113]:
game_log=pd.read_csv('game_log.csv', low_memory=False)
print(game_log.shape)

(171907, 161)

In [114]:
print(game_log.head())
print(game_log.tail())

       date  number_of_game day_of_week v_name v_league  v_game_number h_name  \
0  18710504               0         Thu    CL1      NaN              1    FW1
1  18710505               0         Fri    BS1      NaN              1    WS3
2  18710506               0         Sat    CL1      NaN              2    RC1
3  18710508               0         Mon    CL1      NaN              3    CH1
4  18710509               0         Tue    BS1      NaN              2    TRO

  h_league  h_game_number  v_score  h_score  length_outs day_night completion  \
0      NaN              1        0        2         54.0         D        NaN
1      NaN              1       20       18         54.0         D        NaN
2      NaN              1       12        4         54.0         D        NaN
3      NaN              1       12       14         54.0         D        NaN
4      NaN              1        9        5         54.0         D        NaN

  forefeit protest park_id  attendance  length_minutes v_line_score  \
0      NaN     NaN   FOR01       200.0           120.0    000000000
1      NaN     NaN   WAS01      5000.0           145.0    107000435
2      NaN     NaN   RCK01      1000.0           140.0    610020003
3      NaN     NaN   CHI01      5000.0           150.0    101403111
4      NaN     NaN   TRO01      3250.0           145.0    000002232

  h_line_score  v_at_bats  v_hits  v_doubles  v_triples  v_homeruns  v_rbi  \
0    010010000       30.0     4.0        1.0        0.0         0.0    0.0
1    640113030       41.0    13.0        1.0        2.0         0.0   13.0
2    010020100       49.0    11.0        1.0        1.0         0.0    8.0
3    077000000       46.0    15.0        2.0        1.0         2.0   10.0
4    101003000       46.0    17.0        4.0        1.0         0.0    6.0

   v_sacrifice_hits  v_sacrifice_flies  v_hit_by_pitch  v_walks  \
0               0.0                0.0             0.0      1.0
1               0.0                0.0             0.0     18.0
2               0.0                0.0             0.0      0.0
3               0.0                0.0             0.0      0.0
4               0.0                0.0             0.0      2.0

   v_intentional_walks  v_strikeouts  v_stolen_bases  v_caught_stealing  \
0                  NaN           6.0             1.0                NaN
1                  NaN           5.0             3.0                NaN
2                  NaN           1.0             0.0                NaN
3                  NaN           1.0             0.0                NaN
4                  NaN           0.0             1.0                NaN

   v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
0                    -1.0                           NaN             4.0
1                    -1.0                           NaN            12.0
2                    -1.0                           NaN            10.0
3                    -1.0                           NaN             7.0
4                    -1.0                           NaN            12.0

   v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
0              1.0                       1.0                 1.0
1              1.0                       6.0                 6.0
2              1.0                       0.0                 0.0
3              1.0                       6.0                 6.0
4              1.0                       2.0                 2.0

   v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  v_passed_balls  \
0             0.0      0.0       27.0        9.0       0.0             3.0
1             1.0      0.0       27.0       13.0      10.0             1.0
2             2.0      0.0       27.0       12.0       8.0             5.0
3             0.0      0.0       27.0       15.0      11.0             6.0
4             0.0      0.0       27.0       12.0       5.0             0.0

   v_double_plays  v_triple_plays  h_at_bats  h_hits  h_doubles  h_triples  \
0             0.0             0.0       31.0     4.0        1.0        0.0
1             2.0             0.0       49.0    14.0        2.0        0.0
2             0.0             0.0       36.0     7.0        2.0        1.0
3             0.0             0.0       43.0    11.0        2.0        0.0
4             1.0             0.0       36.0     9.0        0.0        0.0

   h_homeruns  h_rbi  h_sacrifice_hits  h_sacrifice_flies  h_hit_by_pitch  \
0         0.0    2.0               0.0                0.0             0.0
1         0.0   11.0               0.0                0.0             0.0
2         0.0    2.0               0.0                0.0             0.0
3         0.0    8.0               0.0                0.0             0.0
4         0.0    2.0               0.0                0.0             0.0

   h_walks  h_intentional_walks  h_strikeouts  h_stolen_bases  \
0      1.0                  NaN           0.0             0.0
1     10.0                  NaN           2.0             1.0
2      0.0                  NaN           3.0             5.0
3      4.0                  NaN           2.0             1.0
4      3.0                  NaN           0.0             2.0

   h_caught_stealing  h_grounded_into_double  h_first_catcher_interference  \
0                NaN                    -1.0                           NaN
1                NaN                    -1.0                           NaN
2                NaN                    -1.0                           NaN
3                NaN                    -1.0                           NaN
4                NaN                    -1.0                           NaN

   h_left_on_base  h_pitchers_used  h_individual_earned_runs  \
0             3.0              1.0                       0.0
1            14.0              1.0                       7.0
2             5.0              1.0                       3.0
3             6.0              1.0                       4.0
4             7.0              1.0                       3.0

   h_team_earned_runs  h_wild_pitches  h_balks  h_putouts  h_assists  \
0                 0.0             0.0      0.0       27.0        3.0
1                 7.0             0.0      0.0       27.0       20.0
2                 3.0             1.0      0.0       27.0       12.0
3                 4.0             0.0      0.0       27.0       14.0
4                 3.0             1.0      0.0       27.0       11.0

   h_errors  h_passed_balls  h_double_plays  h_triple_plays hp_umpire_id  \
0       3.0             1.0             1.0             0.0     boakj901
1      10.0             2.0             3.0             0.0     dobsh901
2      13.0             3.0             0.0             0.0     mawnj901
3       7.0             2.0             0.0             0.0     willg901
4       7.0             3.0             0.0             0.0     leroi901

    hp_umpire_name 1b_umpire_id 1b_umpire_name 2b_umpire_id 2b_umpire_name  \
0       John Boake          NaN            NaN          NaN            NaN
1     Henry Dobson          NaN            NaN          NaN            NaN
2       J.H. Manny          NaN            NaN          NaN            NaN
3  Gardner Willard          NaN            NaN          NaN            NaN
4      Isaac Leroy          NaN            NaN          NaN            NaN

  3b_umpire_id 3b_umpire_name lf_umpire_id lf_umpire_name rf_umpire_id  \
0          NaN            NaN          NaN            NaN          NaN
1          NaN            NaN          NaN            NaN          NaN
2          NaN            NaN          NaN            NaN          NaN
3          NaN            NaN          NaN            NaN          NaN
4          NaN            NaN          NaN            NaN          NaN

  rf_umpire_name v_manager_id v_manager_name h_manager_id  h_manager_name  \
0            NaN     paboc101  Charlie Pabor     lennb101     Bill Lennon
1            NaN     wrigh101   Harry Wright     younn801      Nick Young
2            NaN     paboc101  Charlie Pabor     hasts101  Scott Hastings
3            NaN     paboc101  Charlie Pabor     woodj106      Jimmy Wood
4            NaN     wrigh101   Harry Wright     pikel101        Lip Pike

  winning_pitcher_id winning_pitcher_name losing_pitcher_id  \
0           mathb101        Bobby Mathews          prata101
1           spala101          Al Spalding          braia102
2           prata101             Al Pratt          fishc102
3           zettg101      George Zettlein          prata101
4           spala101          Al Spalding          mcmuj101

  losing_pitcher_name saving_pitcher_id saving_pitcher_name  \
0            Al Pratt               NaN                 NaN
1        Asa Brainard               NaN                 NaN
2     Cherokee Fisher               NaN                 NaN
3            Al Pratt               NaN                 NaN
4       John McMullin               NaN                 NaN

  winning_rbi_batter_id winning_rbi_batter_id_name v_starting_pitcher_id  \
0                   NaN                        NaN              prata101
1                   NaN                        NaN              spala101
2                   NaN                        NaN              prata101
3                   NaN                        NaN              prata101
4                   NaN                        NaN              spala101

  v_starting_pitcher_name h_starting_pitcher_id h_starting_pitcher_name  \
0                Al Pratt              mathb101           Bobby Mathews
1             Al Spalding              braia102            Asa Brainard
2                Al Pratt              fishc102         Cherokee Fisher
3                Al Pratt              zettg101         George Zettlein
4             Al Spalding              mcmuj101           John McMullin

  v_player_1_id v_player_1_name  v_player_1_def_pos v_player_2_id  \
0      whitd102    Deacon White                 2.0      kimbg101
1      wrigg101   George Wright                 6.0      barnr102
2      whitd102    Deacon White                 2.0      kimbg101
3      whitd102    Deacon White                 2.0      kimbg101
4      wrigg101   George Wright                 6.0      barnr102

  v_player_2_name  v_player_2_def_pos v_player_3_id v_player_3_name  \
0    Gene Kimball                 4.0      paboc101   Charlie Pabor
1     Ross Barnes                 4.0      birdd102   Dave Birdsall
2    Gene Kimball                 4.0      paboc101   Charlie Pabor
3    Gene Kimball                 4.0      paboc101   Charlie Pabor
4     Ross Barnes                 4.0      birdd102   Dave Birdsall

   v_player_3_def_pos v_player_4_id v_player_4_name  v_player_4_def_pos  \
0                 7.0      allia101     Art Allison                 8.0
1                 9.0      mcvec101       Cal McVey                 2.0
2                 7.0      allia101     Art Allison                 8.0
3                 7.0      allia101     Art Allison                 8.0
4                 9.0      mcvec101       Cal McVey                 2.0

  v_player_5_id v_player_5_name  v_player_5_def_pos v_player_6_id  \
0      white104     Elmer White                 9.0      prata101
1      wrigh101    Harry Wright                 8.0      goulc101
2      white104     Elmer White                 9.0      prata101
3      white104     Elmer White                 9.0      prata101
4      wrigh101    Harry Wright                 8.0      goulc101

  v_player_6_name  v_player_6_def_pos v_player_7_id v_player_7_name  \
0        Al Pratt                 1.0      sutte101     Ezra Sutton
1   Charlie Gould                 3.0      schah101   Harry Schafer
2        Al Pratt                 1.0      sutte101     Ezra Sutton
3        Al Pratt                 1.0      sutte101     Ezra Sutton
4   Charlie Gould                 3.0      schah101   Harry Schafer

   v_player_7_def_pos v_player_8_id v_player_8_name  v_player_8_def_pos  \
0                 5.0      carlj102    Jim Carleton                 3.0
1                 5.0      conef101       Fred Cone                 7.0
2                 5.0      carlj102    Jim Carleton                 3.0
3                 5.0      carlj102    Jim Carleton                 3.0
4                 5.0      conef101       Fred Cone                 7.0

  v_player_9_id v_player_9_name  v_player_9_def_pos h_player_1_id  \
0      bassj101       John Bass                 6.0      selmf101
1      spala101     Al Spalding                 1.0      watef102
2      bassj101       John Bass                 6.0      mackd101
3      bassj101       John Bass                 6.0      mcatb101
4      spala101     Al Spalding                 1.0      flync101

  h_player_1_name  h_player_1_def_pos h_player_2_id h_player_2_name  \
0   Frank Sellman                 5.0      mathb101   Bobby Mathews
1   Fred Waterman                 5.0      forcd101      Davy Force
2      Denny Mack                 3.0      addyb101        Bob Addy
3      Bub McAtee                 3.0      kingm101   Marshall King
4   Clipper Flynn                 9.0      mcgem101    Mike McGeary

   h_player_2_def_pos h_player_3_id  h_player_3_name  h_player_3_def_pos  \
0                 1.0      foraj101        Jim Foran                 3.0
1                 6.0      mille105    Everett Mills                 3.0
2                 4.0      fishc102  Cherokee Fisher                 1.0
3                 8.0      hodec101    Charlie Hodes                 2.0
4                 2.0      yorkt101         Tom York                 8.0

  h_player_4_id  h_player_4_name  h_player_4_def_pos h_player_5_id  \
0      goldw101  Wally Goldsmith                 6.0      lennb101
1      allid101     Doug Allison                 2.0      hallg101
2      hasts101   Scott Hastings                 8.0      ham-r101
3      woodj106       Jimmy Wood                 4.0      simmj101
4      mcmuj101    John McMullin                 1.0      kings101

  h_player_5_name  h_player_5_def_pos h_player_6_id h_player_6_name  \
0     Bill Lennon                 2.0      caret101       Tom Carey
1     George Hall                 7.0      leona101    Andy Leonard
2       Ralph Ham                 5.0      ansoc101       Cap Anson
3     Joe Simmons                 9.0      folet101       Tom Foley
4      Steve King                 7.0      beave101  Edward Beavens

   h_player_6_def_pos h_player_7_id h_player_7_name  h_player_7_def_pos  \
0                 4.0      mince101      Ed Mincher                 7.0
1                 4.0      braia102    Asa Brainard                 1.0
2                 2.0      sagep101      Pony Sager                 6.0
3                 7.0      duffe101        Ed Duffy                 6.0
4                 4.0      bells101    Steve Bellan                 5.0

  h_player_8_id  h_player_8_name  h_player_8_def_pos h_player_9_id  \
0      mcdej101  James McDermott                 8.0      kellb105
1      burrh101  Henry Burroughs                 9.0      berth101
2      birdg101      George Bird                 7.0      stirg101
3      pinke101       Ed Pinkham                 5.0      zettg101
4      pikel101         Lip Pike                 3.0      cravb101

   h_player_9_name  h_player_9_def_pos additional_info acquisition_info
0       Bill Kelly                 9.0             NaN                Y
1  Henry Berthrong                 8.0            HTBF                Y
2       Gat Stires                 9.0             NaN                Y
3  George Zettlein                 1.0             NaN                Y
4      Bill Craver                 6.0            HTBF                Y
            date  number_of_game day_of_week v_name v_league  v_game_number  \
171902  20161002               0         Sun    MIL       NL            162
171903  20161002               0         Sun    NYN       NL            162
171904  20161002               0         Sun    LAN       NL            162
171905  20161002               0         Sun    PIT       NL            162
171906  20161002               0         Sun    MIA       NL            161

       h_name h_league  h_game_number  v_score  h_score  length_outs  \
171902    COL       NL            162        6        4         60.0
171903    PHI       NL            162        2        5         51.0
171904    SFN       NL            162        1        7         51.0
171905    SLN       NL            162        4       10         51.0
171906    WAS       NL            162        7       10         51.0

       day_night completion forefeit protest park_id  attendance  \
171902         D        NaN      NaN     NaN   DEN02     27762.0
171903         D        NaN      NaN     NaN   PHI13     36935.0
171904         D        NaN      NaN     NaN   SFO03     41445.0
171905         D        NaN      NaN     NaN   STL10     44615.0
171906         D        NaN      NaN     NaN   WAS11     28730.0

        length_minutes v_line_score h_line_score  v_at_bats  v_hits  \
171902           203.0   0200000202   1100100010       39.0    10.0
171903           159.0    000001100    00100031x       33.0     8.0
171904           184.0    000100000    23000002x       30.0     4.0
171905           192.0    000020200    00100360x       35.0     9.0
171906           216.0    000230020    03023002x       38.0    14.0

        v_doubles  v_triples  v_homeruns  v_rbi  v_sacrifice_hits  \
171902        4.0        1.0         2.0    6.0               0.0
171903        3.0        0.0         0.0    2.0               0.0
171904        0.0        0.0         0.0    1.0               0.0
171905        0.0        0.0         1.0    4.0               0.0
171906        1.0        1.0         2.0    7.0               1.0

        v_sacrifice_flies  v_hit_by_pitch  v_walks  v_intentional_walks  \
171902                0.0             1.0      4.0                  0.0
171903                0.0             0.0      2.0                  0.0
171904                0.0             0.0      2.0                  0.0
171905                0.0             0.0      4.0                  0.0
171906                0.0             0.0      3.0                  2.0

        v_strikeouts  v_stolen_bases  v_caught_stealing  \
171902          12.0             2.0                1.0
171903           9.0             1.0                1.0
171904           7.0             0.0                0.0
171905          11.0             0.0                1.0
171906          10.0             1.0                1.0

        v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
171902                     0.0                           0.0             8.0
171903                     1.0                           0.0             6.0
171904                     1.0                           0.0             4.0
171905                     0.0                           0.0             8.0
171906                     1.0                           0.0             8.0

        v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
171902              7.0                       4.0                 4.0
171903              6.0                       3.0                 3.0
171904              7.0                       7.0                 7.0
171905              6.0                       8.0                 8.0
171906              7.0                      10.0                10.0

        v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  \
171902             1.0      0.0       30.0       12.0       1.0
171903             0.0      0.0       24.0       12.0       3.0
171904             0.0      0.0       24.0        5.0       1.0
171905             0.0      0.0       24.0        2.0       2.0
171906             1.0      0.0       24.0       11.0       0.0

        v_passed_balls  v_double_plays  v_triple_plays  h_at_bats  h_hits  \
171902             0.0             0.0             0.0       41.0    13.0

In [115]:
park_codes=pd.read_csv('park_codes.csv', low_memory=False)
print(park_codes.shape)

(252, 9)

In [116]:
print(park_codes.head())
print(park_codes.tail())

  park_id                           name  \
0   ALB01                 Riverside Park
1   ALT01                  Columbia Park
2   ANA01       Angel Stadium of Anaheim
3   ARL01              Arlington Stadium
4   ARL02  Rangers Ballpark in Arlington

                                        aka       city state       start  \
0                                       NaN     Albany    NY  09/11/1880
1                                       NaN    Altoona    PA  04/30/1884
2             Edison Field; Anaheim Stadium    Anaheim    CA  04/19/1966
3                                       NaN  Arlington    TX  04/21/1972
4  The Ballpark in Arlington; Ameriquest Fl  Arlington    TX  04/11/1994

          end league                                           notes
0  05/30/1882     NL  TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1  05/31/1884     UA                                             NaN
2         NaN     AL                                             NaN
3  10/03/1993     AL                                             NaN
4         NaN     AL                                             NaN
    park_id                                 name  aka           city state  \
247   WIL02        BB&T Ballpark at Bowman Field  NaN    Wiliamsport    PA
248   WNY01     West New York Field Club Grounds  NaN  West New York    NJ
249   WOR01   Agricultural County Fair Grounds I  NaN      Worcester    MA
250   WOR02  Agricultural County Fair Grounds II  NaN      Worcester    MA
251   WOR03       Worcester Driving Park Grounds  NaN      Worcester    MA

          start         end league  \
247  08/20/2017  08/20/2017     NL
248  09/11/1898  09/17/1899     NL
249  05/01/1880  09/29/1882     NL
250  08/17/1887  08/17/1887     NL
251  10/30/1874  10/30/1874    NaN

                                                      notes
247                                                     PIT
248  BRO:9/18&10/2/1898; NY1:9/11/98, 6/4&7/16&8/13&9/17/99
249                                                     NaN
250                                              1 BSN game
251                                              1 BS1 game

In [117]:
person_codes=pd.read_csv('person_codes.csv', low_memory=False)
print(person_codes.shape)

(20494, 7)

In [118]:
print(person_codes.head())
print(person_codes.tail())

         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN
             id      last   first player_debut mgr_debut coach_debut ump_debut
20489  zuvep001   Zuvella    Paul   09/04/1982       NaN  04/02/1996       NaN
20490  zuveg101  Zuverink  George   04/21/1951       NaN         NaN       NaN
20491  zwild101  Zwilling   Dutch   08/14/1910       NaN  04/15/1941       NaN
20492  zycht001      Zych    Tony   09/04/2015       NaN         NaN       NaN
20493  thoma102  Thompson     NaN          NaN       NaN         NaN       NaN

In [119]:
team_codes=pd.read_csv('team_codes.csv', low_memory=False)
print(team_codes.shape)

(150, 8)

In [120]:
print(team_codes.head())
print(team_codes.tail())

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1
    team_id league  start   end        city   nickname franch_id  seq
145     WS8     NL   1886  1889  Washington   Senators       WS8    1
146     WS9     AA   1891  1891  Washington   Senators       WS9    1
147     WSN     NL   1892  1899  Washington   Senators       WS9    2
148     WSU     UA   1884  1884  Washington  Nationals       WSU    1
149     MIA     NL   2012     0       Miami    Marlins       FLO    2

The game_log file consists of identifiers such as: 
-  game_log(h/v_player_#_id) references person_codes(id)
-  game_log(h/v_name) references team_codes(team_id)
-  game_log(park_id) references park_codes(park_id)

to join the tables

build some helper functions:

In [121]:
def run_query(q):
    with sqlite3.connect('mlb.db') as conn: 
        return pd.read_sql(q, conn)
def run_command(c):
    with sqlite3.connect('mlb.db') as conn:
        conn.isolation_level = None
        conn.execute(c)
def show_tables():
    q_show_tables='''
    SELECT
        name,
        type
    FROM 
        sqlite_master
    WHERE 
        type IN ("table","view");
    '''
    return run_query(q_show_tables)

create tables:

In [122]:
tables={
    "game_log": game_log, 
    "team_codes": team_codes, 
    "person_codes": person_codes, 
    "park_codes": park_codes
} 
with sqlite3.connect('mlb.db') as conn:
    for sql_table_name, data in tables.items():
        conn.execute("DROP TABLE IF EXISTS {};".format(sql_table_name))
        data.to_sql(sql_table_name, conn, index=False)
        
show_tables()

                    name   type
0                 person  table
1                   park  table
2                 league  table
3        appearance_type  table
4               position  table
5                   team  table
6                   game  table
7       team_performance  table
8   personal_performance  table
9           person_codes  table
10              game_log  table
11            team_codes  table
12            park_codes  table

add game_id column to game_log table

In [123]:
c_add_column='''
    alter table game_log
    add column game_id TEXT;
    '''
try:
    run_command(c_add_column)
except:
    pass

In [124]:
c_fill_game_id='''
    update game_log
    set game_id = v_name || date || number_of_game
    WHERE 
        game_id IS NULL;
    '''
run_command(c_fill_game_id)

opportunities to normalize the data:
-  start and end date of the park can be derived using game_log
-  start and end date of the team can be derived using game_log
-  debut date of the person can be derived using game_log
-  name of player in game_log can be dervied using person_codes
-  players' performance can be put into a different table

![Schema](mlb-schema.png)

In [125]:
c_create_person_table='''
    create table if not exists person
    (
    person_id TEXT primary key,
    first_name TEXT, 
    last_name TEXT
    )
    '''
c_insert_person_table='''
    insert or ignore into person
    select
        id, 
        first, 
        last
    from
        person_codes
    '''
q='''
    select
        *
    from
        person
    limit 5
    '''
run_command(c_create_person_table)
run_command(c_insert_person_table)
run_query(q)

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron
3  aased001        Don      Aase
4  abada001       Andy      Abad

In [126]:
c_create_park_table='''
    create table if not exists park
    (
    park_id TEXT primary key, 
    name TEXT, 
    nickname TEXT, 
    city TEXT, 
    state TEXT, 
    notes TEXT
    )
    '''
c_insert_park_table='''
    insert or ignore into park
    select
        park_id, 
        name, 
        aka, 
        city, 
        state, 
        notes
    from 
        park_codes
    '''
q='''
    select
        *
    from 
        park_codes
    limit 5
    '''
run_command(c_create_park_table)
run_command(c_insert_park_table)
run_query(q)

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,None,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,04/30/1884,05/31/1884,UA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,None,AL,None
3,ARL01,Arlington Stadium,None,Arlington,TX,04/21/1972,10/03/1993,AL,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,None,AL,None

In [127]:
c_create_league_table='''
    create table if not exists league 
    (
    league_id TEXT primary key, 
    name TEXT
    )
    '''
c_insert_league_table='''
    insert or ignore into league
    values
    ("NL", "National League"),
    ("AL", "American League"),
    ("AA", "American Association"),
    ("FL", "Federal League"),
    ("PL", "Players League"),
    ("UA", "Union Association")
    '''
q='''
    select
        *
    from
        league
    limit 5
    '''
run_command(c_create_league_table)
run_command(c_insert_league_table)
run_query(q)

  league_id                  name
0        NL       National League
1        AL       American League
2        AA  American Association
3        FL        Federal League
4        PL        Players League

In [128]:
c_create_position_table='''
    create table if not exists position 
    (
    position_id TEXT primary key, 
    name TEXT, 
    category TEXT
    )
    '''
appearance_type = pd.read_csv('appearance_type.csv')
with sqlite3.connect('mlb.db') as conn:
    appearance_type.to_sql('appearance_type', conn, index=False, if_exists='append')
c_insert_position_table='''
    insert or ignore into position
    select
        appearance_type_id, 
        name, 
        category
    from 
        appearance_type
    '''
q='''
    select
        *
    from
        position
    '''
run_command(c_create_position_table)
run_command(c_insert_position_table)
run_query(q)

   position_id                name category
0           O1            Batter 1  offense
1           O2            Batter 2  offense
2           O3            Batter 3  offense
3           O4            Batter 4  offense
4           O5            Batter 5  offense
5           O6            Batter 6  offense
6           O7            Batter 7  offense
7           O8            Batter 8  offense
8           O9            Batter 9  offense
9           D1             Pitcher  defense
10          D2             Catcher  defense
11          D3            1st Base  defense
12          D4            2nd Base  defense
13          D5            3rd Base  defense
14          D6           Shortstop  defense
15          D7          Left Field  defense
16          D8        Center Field  defense
17          D9         Right Field  defense
18         D10    Unknown Position  defense
19         UHP          Home Plate   umpire
20         U1B          First Base   umpire
21         U2B         Second Base   umpire
22         U3B          Third Base   umpire
23         ULF          Left Field   umpire
24         URF         Right Field   umpire
25          MM             Manager  manager
26         AWP     Winning Pitcher    award
27         ALP      Losing Pitcher    award
28         ASP      Saving Pitcher    award
29         AWB  Winning RBI Batter    award
30         PSP    Starting Pitcher  pitcher

In [129]:
c_create_team_table='''
    create table if not exists team 
    (
    team_id TEXT primary key, 
    league_id TEXT, 
    city TEXT, 
    nickname TEXT, 
    franch_id TEXT, 
    foreign key (league_id) references league(league_id)
    )
    '''
c_insert_team_table='''
    insert or ignore into team
    select
        team_id, 
        league, 
        city, 
        nickname, 
        franch_id
    from
        team_codes
    '''
q='''
    select
        *
    from
        team
    limit 5
    '''
run_command(c_create_team_table)
run_command(c_insert_team_table)
run_query(q)

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1

In [130]:
c_create_game_table='''
    create table if not exists game
    (
    game_id TEXT primary key, 
    date TEXT, 
    number_of_game INTEGER, 
    park_id TEXT, 
    length_outs INTEGER, 
    day BOOLEAN, 
    completion TEXT, 
    forefeit TEXT, 
    protest TEXT, 
    attendance INTEGER, 
    length_minutes INTEGER, 
    additional_info TEXT, 
    acquisition_info TEXT, 
    foreign key (park_id) references park(park_id)
    )
    '''
c_insert_game_table='''
    insert or ignore into game
    select
        game_id, 
        date, 
        number_of_game, 
        park_id, 
        length_outs, 
        case
            when day_night = "D" then 1
            when day_night = "N" then 0
            else null
            end day, 
        completion, 
        forefeit, 
        protest, 
        attendance, 
        length_minutes, 
        additional_info, 
        acquisition_info
    from
        game_log
    '''
q='''
    select
        *
    from
        game
    limit 5
    '''
run_command(c_create_game_table)
run_command(c_insert_game_table)
run_query(q)

,game_id,date,number_of_game,park_id,length_outs,day,completion,forefeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,CL1187105040,18710504,0,FOR01,54,1,None,None,None,200,120,None,Y
1,BS1187105050,18710505,0,WAS01,54,1,None,None,None,5000,145,HTBF,Y
2,CL1187105060,18710506,0,RCK01,54,1,None,None,None,1000,140,None,Y
3,CL1187105080,18710508,0,CHI01,54,1,None,None,None,5000,150,None,Y
4,BS1187105090,18710509,0,TRO01,54,1,None,None,None,3250,145,HTBF,Y

In [131]:
c_create_team_performance_table='''
    create table if not exists team_performance
    (
    team_id TEXT,
    game_id TEXT,
    home BOOLEAN,
    league_id TEXT,
    score INTEGER,
    line_score TEXT,
    at_bats INTEGER,
    hits INTEGER,
    doubles INTEGER,
    triples INTEGER,
    homeruns INTEGER,
    rbi INTEGER,
    sacrifice_hits INTEGER,
    sacrifice_flies INTEGER,
    hit_by_pitch INTEGER,
    walks INTEGER,
    intentional_walks INTEGER,
    strikeouts INTEGER,
    stolen_bases INTEGER,
    caught_stealing INTEGER,
    grounded_into_double INTEGER,
    first_catcher_interference INTEGER,
    left_on_base INTEGER,
    pitchers_used INTEGER,
    individual_earned_runs INTEGER,
    team_earned_runs INTEGER,
    wild_pitches INTEGER,
    balks INTEGER,
    putouts INTEGER,
    assists INTEGER,
    errors INTEGER,
    passed_balls INTEGER,
    double_plays INTEGER,
    triple_plays INTEGER,
    primary key (team_id, game_id), 
    foreign key (team_id) references team(team_id),
    foreign key (game_id) references game(game_id)
    )
    '''
c_insert_team_performance_table='''
    insert or ignore into team_performance
    select
        h_name,
        game_id,
        1 AS home,
        h_league,
        h_score,
        h_line_score,
        h_at_bats,
        h_hits,
        h_doubles,
        h_triples,
        h_homeruns,
        h_rbi,
        h_sacrifice_hits,
        h_sacrifice_flies,
        h_hit_by_pitch,
        h_walks,
        h_intentional_walks,
        h_strikeouts,
        h_stolen_bases,
        h_caught_stealing,
        h_grounded_into_double,
        h_first_catcher_interference,
        h_left_on_base,
        h_pitchers_used,
        h_individual_earned_runs,
        h_team_earned_runs,
        h_wild_pitches,
        h_balks,
        h_putouts,
        h_assists,
        h_errors,
        h_passed_balls,
        h_double_plays,
        h_triple_plays
    from
        game_log
    union
    select
        v_name,
        game_id,
        0 AS home,
        v_league,
        v_score,
        v_line_score,
        v_at_bats,
        v_hits,
        v_doubles,
        v_triples,
        v_homeruns,
        v_rbi,
        v_sacrifice_hits,
        v_sacrifice_flies,
        v_hit_by_pitch,
        v_walks,
        v_intentional_walks,
        v_strikeouts,
        v_stolen_bases,
        v_caught_stealing,
        v_grounded_into_double,
        v_first_catcher_interference,
        v_left_on_base,
        v_pitchers_used,
        v_individual_earned_runs,
        v_team_earned_runs,
        v_wild_pitches,
        v_balks,
        v_putouts,
        v_assists,
        v_errors,
        v_passed_balls,
        v_double_plays,
        v_triple_plays
    from 
        game_log
    '''
q='''
    select
        *
    from
        team_performance
    where
        game_id=(
            select
                min(game_id)
            from
                game
            ) or
        game_id=(
            select
                max(game_id)
            from
                game
            )
    order by game_id, home
    '''
run_command(c_create_team_performance_table)
run_command(c_insert_team_performance_table)
run_query(q)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ALT,ALT188404170,0,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,CNU,ALT188404170,1,UA,7,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,WSU,WSU188410190,0,UA,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,KCU,WSU188410190,1,UA,12,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [138]:
c_create_personal_performance_table='''
    create table if not exists personal_performance
    (
    performance_id INTEGER PRIMARY KEY,
    person_id TEXT,
    team_id TEXT,
    game_id TEXT,
    position_id,
    foreign key (person_id) references person(person_id), 
    foreign key (team_id) references team(team_id), 
    foreign key (game_id) references game(game_id), 
    foreign key (position_id) references position(position_id)
    )
    '''
c_insert_personal_performance_table='''
    insert or ignore into personal_performance
    (
    game_id, 
    team_id, 
    person_id, 
    position_id
    )
    select
        game_id, 
        null, 
        hp_umpire_id, 
        "UHP"
    from
        game_log
    where 
        hp_umpire_id is not null
    union
    select
        game_id, 
        null, 
        [1b_umpire_id], 
        "U1B"
    from 
        game_log
    where
        "1b_umpire_id" is not null
    union
    select
        game_id, 
        null, 
        [2b_umpire_id], 
        "U2B"
    from
        game_log
    where
        [2b_umpire_id] is not null
    union
    select
        game_id, 
        null, 
        [3b_umpire_id], 
        "U3B"
    from
        game_log
    where
        [3b_umpire_id] is not null
    union
    select
        game_id, 
        null, 
        [lf_umpire_id], 
        "ULF"
    from
        game_log
    where
        [lf_umpire_id] is not null
    union
    select
        game_id, 
        null, 
        [rf_umpire_id], 
        "URF"
    from
        game_log
    where
        [rf_umpire_id] is not null
    union
    select
        game_id, 
        v_name, 
        v_manager_id, 
        "MM"
    from
        game_log
    where
        v_manager_id is not null
    union
    select
        game_id, 
        h_name, 
        h_manager_id, 
        "MM"
    from
        game_log
    where
        h_manager_id is not null
    union
    select
        game_id, 
        case
            when h_score > v_score then h_name
            else v_name
            end, 
        winning_pitcher_id, 
        "AWP"
    from
        game_log
    where
        winning_pitcher_id is not null
    union
    select
        game_id, 
        case
            when h_score < v_score then h_name
            else v_name
            end, 
        losing_pitcher_id, 
        "ALP"
    from
        game_log
    where
        losing_pitcher_id is not null
    union
    select
        game_id, 
        case
            when
                h_score > v_score then h_name
            else v_name
            end, 
        saving_pitcher_id, 
        "ASP"
    from
        game_log
    where
        saving_pitcher_id is not null
    union
    select
        game_id, 
        case
            when h_score > v_score then h_name
            else v_name
            end, 
        winning_rbi_batter_id, 
        "AWB"
    from
        game_log
    where
        winning_rbi_batter_id is not null
    union
    select
        game_id, 
        v_name, 
        v_starting_pitcher_id, 
        "PSP"
    from
        game_log
    where
        v_starting_pitcher_id is not null
    union
    select
        game_id, 
        h_name, 
        h_starting_pitcher_id, 
        "PSP"
    from
        game_log
    where
        h_starting_pitcher_id is not null
    '''
template='''
    insert into personal_performance
    (
    game_id, 
    team_id, 
    person_id, 
    position_id
    )
    select
        game_id, 
        {hv}_name, 
        {hv}_player_{num}_id, 
        "O{num}"
    from
        game_log
    where
        {hv}_player_{num}_id is not null
    union
    select
        game_id, 
        {hv}_name, 
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos as INT)
    from
        game_log
    where
        {hv}_player_{num}_id IS NOT NULL;
    '''
run_command(c_create_personal_performance_table)
run_command(c_insert_personal_performance_table)

for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        run_command(template.format(**query_vars))

In [139]:
print(run_query("SELECT COUNT(DISTINCT game_id) games_game FROM game"))
print(run_query("SELECT COUNT(DISTINCT game_id) games_personal_performance FROM personal_performance"))
q='''
    select
        personal_performance.*, 
        position.name, 
        position.category
    from
        personal_performance
    inner join
        position 
    on
        position.position_id = personal_performance.position_id
    where
        personal_performance.game_id=
            (
            select
                max(game_id)
            from
                personal_performance
            )
    order by team_id, position_id
    '''
run_query(q)

   games_game
0      171907
   games_personal_performance
0                      171907

,performance_id,person_id,team_id,game_id,position_id,name,category
0,1646114,crawa901,None,WSU188410190,UHP,Home Plate,umpire
1,3292232,crawa901,None,WSU188410190,UHP,Home Plate,umpire
2,4938350,crawa901,None,WSU188410190,UHP,Home Plate,umpire
3,6584468,crawa901,None,WSU188410190,UHP,Home Plate,umpire
4,8230586,crawa901,None,WSU188410190,UHP,Home Plate,umpire
5,9876704,crawa901,None,WSU188410190,UHP,Home Plate,umpire
6,11522822,crawa901,None,WSU188410190,UHP,Home Plate,umpire
7,13168940,crawa901,None,WSU188410190,UHP,Home Plate,umpire
8,14815058,crawa901,None,WSU188410190,UHP,Home Plate,umpire
9,16461176,crawa901,None,WSU188410190,UHP,Home Plate,umpire
10,23177456,crawa901,None,WSU188410190,UHP,Home Plate,umpire
11,1646116,sullt101,KCU,WSU188410190,MM,Manager,manager
12,3292234,sullt101,KCU,WSU188410190,MM,Manager,manager
13,4938352,sullt101,KCU,WSU188410190,MM,Manager,manager
14,6584470,sullt101,KCU,WSU188410190,MM,Manager,manager
15,8230588,sullt101,KCU,WSU188410190,MM,Manager,manager
16,9876706,sullt101,KCU,WSU188410190,MM,Manager,manager
17,11522824,sullt101,KCU,WSU188410190,MM,Manager,manager
18,13168942,sullt101,KCU,WSU188410190,MM,Manager,manager
19,14815060,sullt101,KCU,WSU188410190,MM,Manager,manager
20,16461178,sullt101,KCU,WSU188410190,MM,Manager,manager
21,23177458,sullt101,KCU,WSU188410190,MM,Manager,manager
22,1646115,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
23,3292233,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
24,4938351,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
25,6584469,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
26,8230587,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
27,9876705,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
28,11522823,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
29,13168941,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
30,14815059,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
31,16461177,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
32,23177457,hutcb101,KCU,WSU188410190,PSP,Starting Pitcher,pitcher
33,1646118,scanm801,WSU,WSU188410190,MM,Manager,manager
34,3292236,scanm801,WSU,WSU188410190,MM,Manager,manager
35,4938354,scanm801,WSU,WSU188410190,MM,Manager,manager
36,6584472,scanm801,WSU,WSU188410190,MM,Manager,manager
37,8230590,scanm801,WSU,WSU188410190,MM,Manager,manager
38,9876708,scanm801,WSU,WSU188410190,MM,Manager,manager
39,11522826,scanm801,WSU,WSU188410190,MM,Manager,manager
40,13168944,scanm801,WSU,WSU188410190,MM,Manager,manager
41,14815062,scanm801,WSU,WSU188410190,MM,Manager,manager
42,16461180,scanm801,WSU,WSU188410190,MM,Manager,manager
43,23177460,scanm801,WSU,WSU188410190,MM,Manager,manager
44,1646117,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
45,3292235,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
46,4938353,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
47,6584471,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
48,8230589,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
49,9876707,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
50,11522825,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
51,13168943,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
52,14815061,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
53,16461179,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher
54,23177459,powea101,WSU,WSU188410190,PSP,Starting Pitcher,pitcher

In [140]:
show_tables()

                    name   type
0                 person  table
1                   park  table
2                 league  table
3        appearance_type  table
4               position  table
5                   team  table
6                   game  table
7       team_performance  table
8   personal_performance  table
9           person_codes  table
10              game_log  table
11            team_codes  table
12            park_codes  table

In [141]:
drop_tables=[
    "game_log",
    "park_codes",
    "team_codes",
    "person_codes"
]

for tables in tables:
    run_command("drop table {}".format(tables))

show_tables()

                   name   type
0                person  table
1                  park  table
2                league  table
3       appearance_type  table
4              position  table
5                  team  table
6                  game  table
7      team_performance  table
8  personal_performance  table